<!doctype html>
<html lang="{{.Locale.Tag}}" dir="{{.Locale.Direction}}" class="{{.Locale.WritingMode}}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Not Found | Musings</title>

    {{template "partials/favicons"}}

    <link rel="stylesheet" href="{{"/_static/css/default.css" | versioned}}">
</head>
<body>
{{template "partials/header" .}}

<main class="container">
    <article>
        <header>
            <h1>404 - {{.Translations.Get "Not Found"}}</h1>
        </header>
        :(
    </article>
</main>

</body>
</html>
