<!doctype html>
<html lang="{{.Locale.Tag}}" dir="{{.Locale.Direction}}" class="{{.Locale.WritingMode}}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Musings</title>

    {{template "partials/favicons"}}

    <link rel="stylesheet" href="{{"/_static/css/default.css" | versioned}}">
</head>
<body class="index-page">
{{template "partials/header" .}}

<script>
    document.getElementById("search").value = {{.Data.Query}}
</script>

<main class="container">
    {{if eq (len .Data.Results) 0}}
        <article>
            {{.Translations.Get "Zero matches"}}
        </article>
    {{end}}

    {{range .Data.Results}}
        <a href="{{.Path}}" class="article-link">
            <article>
                <div class="thumbnail">
                    {{if ne (len .Thumbnail) 0}}
                        <img alt="" src="{{.Thumbnail | versioned}}">
                    {{end}}
                </div>
                <div class="content">
                    <header class="row">
                        <h2>{{.Title}}</h2>
                        <div class="metadata">
                            {{if not .Published.IsZero}}
                                {{$.FormatDate .Published}}
                            {{end}}
                        </div>
                    </header>
                    <p>{{.Summary}}</p>
                </div>
            </article>
        </a>
    {{end}}
</main>

</body>
</html>
