@use "_fonts";
@use "_layout-rtl";
@use "_layout-vert";
@use "@picocss/pico/scss/pico" as * with (
  $theme-color: "yellow"
);

html { height: 100%; }

body {
  background-image: url('/_static/media/background-light.jpg');
  background-position: top;
  background-size: cover;

  min-height: 100%;
}

#main-header {
  @extend .container-fluid;
  border-bottom: 1px solid white;
}

#main-nav {
  @extend .container;

  .brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    font-size: 1.2em;
  }

  .search {
    input { margin-bottom: 0; }
  }

  .locale-switcher {
    display: flex;
    align-items: center;

    ul {
      right: 0;
      left: auto;
    }

    // Pico docs say nav dropdowns aren't full width, but they are here.
    // This should fix it until maybe hopefully an update fixes it.
    details.dropdown {
      display: inline-block;
      vertical-align: bottom;
    }
  }
}

main {
  @extend .container;
}

article>header {
  display: flex;
  justify-content: space-between;

  &>.metadata {
    color: var(--pico-muted-color);
    font-size: 0.9em;
  }
}

// .sr-only makes an element only visible to screen readers.
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

