//@use "@subtributary/drip/scss/drip" as *;
@use "drip/drip.scss";
@use "fonts";

#main-header {
  border-block-end: 1px solid var(--drip-color-border);

  .search-form {
    flex: 1 1 auto;
  }
}

#locales {
  inset: auto;
  inset-inline-end: anchor(end);
  height: fit-content;
  width: fit-content;

  a {
    display: block;
    padding: var(--drip-padding);

    &:visited { color: var(--drip-color-link); }
  }

  li {
    display: block;
  }

  ul {
    margin: 0;
    padding: 0;
  }
}

.index-page {
  // Link text style
  .article-link {
    color: inherit;
    overflow-wrap: normal;
    text-decoration: none;
    white-space: wrap;

    h2 {
      color: var(--drip-color-link);
    }

    &:hover h2 {
      text-decoration: underline;
      text-underline-position: under;
    }

    &:visited h2 {
      color: var(--drip-color-link-visited);
    }
  }

  article {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid var(--drip-color-border);
    border-radius: var(--drip-padding);

    // 1px gap for fake interior border
    background: var(--drip-color-border);
    gap: 1px;
    overflow: hidden;

    & > .content {
      background: var(--drip-color-background);
      padding: var(--drip-spacing);
      inline-size: 40ch;
      flex: 1 1 40ch;

      h2, p {
        font-size: inherit;
        line-height: inherit;
        margin: 0;
      }

      & > header > .metadata {
        @extend .text-muted;
        flex: 0 0 auto;
      }
    }

    & > .thumbnail {
      background: var(--drip-color-background);
      flex: 1 1 auto;
      inline-size: 15ch;

      & > img {
        aspect-ratio: 1;
        inline-size: 100%;
      }
    }
  }
}

.post-page {
  .metadata {
    @extend .text-muted;
  }

  h1 {
    margin: 0;
  }

  article > header {
    border-block-end: 1px solid var(--drip-color-border);
    padding-block-end: var(--drip-spacing);
  }
}