@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/_fonts/noto/noto-sans-v42-latin-regular.woff2') format('woff2');
}

:root {
  font-family: "Noto Sans", sans-serif;
}
