<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Musings Pre-Alpha Version</title>
    <link rel="stylesheet" href="/_static/css/default.css">
</head>