<header id="main-header">
    <nav id="main-nav">
        <a class="brand" href="/">
            <img src="/_static/media/logo.svg"
                 alt="{{.Translations.Get "Website logo"}}"
                 style="height: 52px; width: 52px; margin-right: 0.5em;"
            >
            <span class="brand-name">Musings</span>
        </a>

        <div class="search">
            <form action="/" method="get">
                <label class="sr-only" for="search">Search</label>
                <input id="search" name="q" type="search">
            </form>
        </div>

        <div class="locale-switcher">
            {{template "partials/locales" .}}
        </div>
    </nav>
</header>