<header>
    <nav>
        <ul>
            <li><a href="/">Logo here</a></li>
        </ul>
        <div>
            <label class="sr-only" for="search">Search</label>
            <input id="search" type="search">
        </div>
        <ul>
            <li>Lang</li>
        </ul>
    </nav>
</header>