<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Musings</title>

    <link rel="icon" type="image/png" href="{{"/_static/images/favicon-96x96.png" | versioned}}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{{"/_static/images/favicon.svg" | versioned}}" />
    <link rel="shortcut icon" href="{{"/_static/images/favicon.ico" | versioned}}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{"/_static/images/apple-touch-icon.png" | versioned}}" />
    <meta name="apple-mobile-web-app-title" content="Musings" />
    <link rel="manifest" href="{{"/_static/images/site.webmanifest" | versioned}}" />

    <link rel="stylesheet" href="{{"/_static/css/default.css" | versioned}}">
</head>