<header>
    <nav>
        <ul>
            <li>
                <a href="/">
                    <img src="/_static/media/logo.svg" alt="Logo" style="height: 1em; width: 1em;">
                    Musings
                </a>
            </li>
        </ul>
        <div>
            <label class="sr-only" for="search">Search</label>
            <input id="search" type="search">
        </div>
        <ul>
            <li>Lang</li>
        </ul>
    </nav>
</header>