{{if le (len .LocaleOptions) 1}}
    <!-- No languages are configured. -->
{{else}}
    <details class="dropdown">
        <summary>
            <span
                aria-label="{{.Translations.Get "Select Langauge"}}"
                aria-hidden="true"
            >文Ａ &ndash; {{.Locale.NativeName}}</span>
        </summary>
        <ul>
            {{range .LocaleOptions}}
                <li class="script-{{.Tag}}" dir="{{.Direction}}">
                    {{if .IsCurrent}}
                        <strong>{{.NativeName}}</strong>
                    {{else}}
                        <a href="{{.URL}}">{{.NativeName}}</a>
                    {{end}}
                </li>
            {{end}}
        </ul>
    </details>
{{end}}