{{if le (len .LocaleOptions) 1}}
    <!-- No languages are configured. -->
{{else}}
    <div class="dropdown">
        <button popovertarget="locales" aria-label="{{.Translations.Get "Select Langauge"}}" aria-hidden="true">
            文Ａ
        </button>
        <div id="locales" popover>
            <ul>
                {{range .LocaleOptions}}
                    <li dir="{{.Direction}}">
                        {{if .IsCurrent}}
                            <strong>{{.NativeName}}</strong>
                        {{else}}
                            <a href="{{.URL}}">{{.NativeName}}</a>
                        {{end}}
                    </li>
                {{end}}
            </ul>
        </div>
    </div>
{{end}}