<!doctype html>
<html lang="{{.Locale.Tag}}" dir="{{.Locale.Direction}}" class="{{.Locale.WritingMode}}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Musings</title>

    {{template "partials/favicons"}}

    <link rel="stylesheet" href="{{"/_static/css/default.css" | versioned}}">
</head>
<body class="index-page">
{{template "partials/header" .}}

<script>
    document.getElementById("search").value = {{.Data.Query}}
</script>

<main class="container">
    {{if eq (len .Data.Results) 0}}
        <article>
            {{.Translations.Get "Zero matches"}}
        </article>
    {{end}}

    {{range .Data.Results}}
        <article>
            <header class="row">
                <h2>{{.Title}}</h2>
                <div class="metadata">
                    {{if ne .Published nil}}
                        {{$.FormatDate .Published}}
                    {{end}}
                </div>
            </header>
            <p>{{.Summary}}</p>
            {{.ThumbnailPath}}
            <footer>
                <a href="{{.Path}}">{{$.Translations.Get "Continue reading..."}}</a>
            </footer>
        </article>
    {{end}}
</main>

</body>
</html>
