<!doctype HTML>
<html lang="{{.Language.Code}}">
{{template "partials/head"}}
<body>
{{template "partials/header" .}}
<main>
    {{range .Data}}
        <a href="{{.Path}}">
            <section>
                <h2>{{.Title}}</h2>
            </section>
        </a>
    {{end}}
</main>
</body>
</html>
