<!doctype HTML>
<html lang="{{.Locale.Tag}}" dir="{{.Locale.Direction}}" writing-mode="{{.Locale.WritingMode}}">
{{template "partials/head"}}
<body>
{{template "partials/header" .}}

<script>
    document.getElementById("search").value = {{.Data.Query}}
</script>

<main>
    {{if eq (len .Data.Results) 0}}
        <article>
            {{.Translations.Get "Zero matches"}}
        </article>
    {{end}}

    {{range .Data.Results}}
        <article>
            <header>
                <div class="title">{{.Title}}</div>
                <div class="metadata">
                    {{if ne .Published nil}}
                        {{$.Locale.FormatDate .Published}}
                    {{end}}
                </div>
            </header>
            <p>{{.Summary}}</p>
            <footer>
                <a href="{{.Path}}">{{$.Translations.Get "Continue reading..."}}</a>
            </footer>
        </article>
    {{end}}
</main>

</body>
</html>
