<!doctype HTML>
<html lang="{{.Locale.Tag}}">
{{template "partials/head"}}
<body>
{{template "partials/header" .}}

<main>
    <article>
        <header>
            <h1 class="title">{{.Data.Title}}</h1>
            <div class="metadata">
                {{range .Data.Bylines}}
                    {{.}}<br>
                {{end}}
                {{if ne .Data.Published nil}}
                    published {{.Data.Published.Format "2006-01-02"}}<br>
                {{end}}
            </div>
        </header>

        {{.Data.Content}}
    </article>
</main>

</body>
</html>
