<!doctype HTML>
<html lang="{{.Locale.Tag}}" dir="{{.Locale.Direction}}" writing-mode="{{.Locale.WritingMode}}">
{{template "partials/head"}}
<body>
{{template "partials/header" .}}

<main>
    <article>
        <header>
            <h1 class="title">{{.Data.Title}}</h1>
            <div class="metadata">
                {{range .Data.Bylines}}
                    {{.}}<br>
                {{end}}
                {{if ne .Data.Published nil}}
                    {{.Translations.Get "published"}}
                    {{$.FormatDate .Data.Published}}<br>
                {{end}}
            </div>
        </header>

        {{.Data.Content}}
    </article>
</main>

</body>
</html>
