/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/*
  Added by Drip programmers:
*/
:where(h1) {
  font-size: 2em;
  margin-block: 0.67em;
}

:root {
  --drip-color-background: #f9f9f9;
  --drip-color-border: #909090;
  --drip-color-button-background: #1B4fb7;
  --drip-color-button-text: #f9f9f9;
  --drip-color-input: #ffffff;
  --drip-color-link: #1b1bd9;
  --drip-color-link-visited: #761b76;
  --drip-color-text: #1b1b1b;
  --drip-color-text-muted: #525565;
  --drip-animation-speed: 0.2s;
  --drip-container-size: 90ch;
  --drip-paragraph-size: 70ch;
  --drip-spacing: 1rem;
  --drip-padding: 0.25rem;
  --drip-text-size: 1.25rem;
  --drip-text-size-small: 0.8em;
  --drip-text-line-height: 1.5em;
  --drip-icon-size: 1em;
  --drip-icon-arrow: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2210%22%20height%3D%2210%22%20viewBox%3D%220%200%2010%2010%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22currentColor%22%20d%3D%22M1%2C3l4%2C4l4%2C-4%22%20%2F%3E%3C%2Fsvg%3E");
  --drip-icon-close: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2210%22%20height%3D%2210%22%20viewBox%3D%220%200%2010%2010%22%20stroke-linecap%3D%22round%22%3E%3Cpath%20stroke%3D%22currentColor%22%20d%3D%22M1%2C1l8%2C8%20M9%2C1l-8%2C8%22%20%2F%3E%3C%2Fsvg%3E");
  --drip-icon-external: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2210%22%20height%3D%2210%22%20viewBox%3D%220%200%2010%2010%22%20stroke-linejoin%3D%22round%22%20stroke-linecap%3D%22round%22%3E%3Cpath%20stroke%3D%22currentColor%22%20fill%3D%22none%22%20d%3D%22M4%2C1h-3v8h8v-3M6%2C1h3v3M9%2C1l-4%2C4%22%2F%3E%3C%2Fsvg%3E");
  --drip-icon-search: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%22%20height%3D%22100%22%20viewBox%3D%220%200%2099%2099%22%20fill%3D%22none%22%20stroke%3D%22%23767676%22%20stroke-linecap%3D%22round%22%3E%3Ccircle%20stroke-width%3D%2210%22%20cx%3D%2239%22%20cy%3D%2239%22%20r%3D%2234%22%2F%3E%3Cpath%20stroke-width%3D%2210%22%20d%3D%22M64%2C64l30%2C30%22%2F%3E%3C%2Fsvg%3E");
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --drip-animation-speed: 0;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --drip-color-background: #1b1b1b;
    --drip-color-border: #676767;
    --drip-color-button-background: #6da7f9;
    --drip-color-button-text: #1b1b1b;
    --drip-color-input: #000000;
    --drip-color-link: #1baff9;
    --drip-color-link-visited: #b793f9;
    --drip-color-text: #f9f9f9;
    --drip-color-text-muted: #a6a6a6;
  }
}
dialog {
  background-color: var(--drip-color-background);
  border-color: var(--drip-color-border);
  border-radius: var(--drip-padding);
  border-style: solid;
  border-width: 1px;
  color: var(--drip-color-text);
  padding: var(--drip-spacing);
  box-shadow: 1px 1px 2px #000;
  width: var(--drip-paragraph-size);
  max-width: 100%;
}
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.67);
}
dialog > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0 var(--drip-spacing);
}
dialog > header > button[command=close] {
  height: var(--drip-icon-size);
  width: var(--drip-icon-size);
  background-color: var(--drip-color-link);
  mask-image: var(--drip-icon-close), linear-gradient(#fff, #fff);
  mask-composite: intersect;
  mask-size: contain;
}
dialog > footer.row, dialog > footer > .row {
  margin-block-end: 0;
}

.sideways-lr dialog, .sideways-rl dialog, .vertical-lr dialog, .vertical-rl dialog {
  width: fit-content;
  max-width: unset;
  height: var(--drip-paragraph-size);
  max-height: 100%;
}

.dropdown {
  white-space: nowrap;
  overflow-wrap: break-word;
}
.dropdown > button::after {
  height: var(--drip-icon-size);
  width: var(--drip-icon-size);
  background-color: var(--drip-color-link);
  mask-image: var(--drip-icon-arrow), linear-gradient(#fff, #fff);
  mask-composite: intersect;
  mask-size: contain;
  content: "";
  display: inline-block;
  height: var(--drip-text-size-small);
  width: var(--drip-text-size-small);
  vertical-align: center;
}
.dropdown > button:hover::after {
  height: var(--drip-icon-size);
  width: var(--drip-icon-size);
  background-color: var(--drip-color-background);
  mask-image: var(--drip-icon-arrow), linear-gradient(#fff, #fff);
  mask-composite: intersect;
  mask-size: contain;
  height: var(--drip-text-size-small);
  width: var(--drip-text-size-small);
}
.dropdown > [popover] {
  background-color: var(--drip-color-background);
  border-color: var(--drip-color-border);
  border-radius: var(--drip-padding);
  border-style: solid;
  border-width: 1px;
  color: var(--drip-color-text);
  padding: var(--drip-spacing);
  box-shadow: 1px 1px 2px #000;
  position-area: end center;
  width: 100%;
}

.sideways-lr .dropdown > button::after, .vertical-lr .dropdown > button::after {
  transform: rotate(270deg);
}

.sideways-rl .dropdown > button::after, .vertical-rl .dropdown > button::after {
  transform: rotate(90deg);
}

table {
  border-collapse: collapse;
  margin-block-end: var(--drip-spacing);
  table-layout: fixed;
  width: 100%;
}

table,
th,
td {
  border: 1px solid var(--drip-color-border);
}

th,
td {
  padding: var(--drip-padding);
}

.sideways-lr table, .sideways-rl table, .vertical-lr table, .vertical-rl table {
  height: 100%;
  width: fit-content;
}

dl,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
pre,
ul {
  margin-block-end: var(--drip-spacing);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--drip-text-line-height);
}

ol,
ul,
p {
  max-width: var(--drip-paragraph-size);
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-block-end: 0;
}
ol,
ul {
  padding-inline-start: calc(var(--drip-spacing) + 1em);
}

ol {
  list-style-type: decimal;
}
ol > li > ol {
  list-style-type: lower-latin;
}
ol > li > ol > li > ol {
  list-style-type: lower-roman;
  margin-block-end: 0;
}

ul {
  list-style-type: disc;
}
ul > li > ul {
  list-style-type: circle;
}
ul > li > ul > li > ul {
  list-style-type: square;
}

.sideways-lr dl,
.sideways-lr ol,
.sideways-lr ul,
.sideways-lr p, .sideways-rl dl,
.sideways-rl ol,
.sideways-rl ul,
.sideways-rl p, .vertical-lr dl,
.vertical-lr ol,
.vertical-lr ul,
.vertical-lr p, .vertical-rl dl,
.vertical-rl ol,
.vertical-rl ul,
.vertical-rl p {
  max-height: var(--drip-paragraph-size);
  max-width: fit-content;
}

a {
  color: var(--drip-color-link);
  white-space: nowrap;
  overflow-wrap: break-word;
  text-decoration: none;
}
@media (prefers-reduced-motion: no-preference) {
  a:hover {
    text-decoration: underline;
    text-underline-position: under;
  }
}
a:visited {
  color: var(--drip-color-link-visited);
}
a[href^=http]::after {
  content: "";
  display: inline-block;
  background-color: currentColor;
  mask-image: var(--drip-icon-external);
  mask-size: contain;
  width: var(--drip-text-size-small);
  height: var(--drip-text-size-small);
  margin-inline: 0.1em;
}

small {
  font-size: var(--drip-text-size-small);
}

sub,
sup {
  font-size: var(--drip-text-size-small);
  line-height: var(--drip-text-line-height);
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.visually-hidden:focus {
  clip: auto;
  clip-path: none;
  height: auto;
  margin: 0;
  overflow: visible;
  padding: var(--drip-padding);
  position: static;
  white-space: normal;
  width: auto;
}

.text-muted {
  color: var(--drip-color-text-muted);
}

.container,
.container-full {
  padding: var(--drip-spacing);
}

.container {
  margin-inline: auto;
  max-width: var(--drip-container-size);
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 0 var(--drip-spacing);
  margin-block-end: var(--drip-spacing);
}
.row > * {
  flex: 1 1 0;
  margin: 0;
}

html {
  font-family: sans-serif;
  font-size: var(--drip-text-size);
  line-height: var(--drip-text-line-height);
}

body {
  background-color: var(--drip-color-background);
  color: var(--drip-color-text);
}

article,
header,
main {
  margin-block-end: var(--drip-spacing);
}

header > .container,
header > .container-full,
footer > .container,
footer > .container-full {
  display: flex;
  align-items: center;
  gap: 0 var(--drip-spacing);
  justify-content: space-between;
}

header > .container nav a,
header > .container-full nav a {
  display: block;
  padding: var(--drip-spacing);
  color: inherit;
  text-decoration: none;
}
header > .container nav a[aria-current=page], header > .container nav a:hover,
header > .container-full nav a[aria-current=page],
header > .container-full nav a:hover {
  color: var(--drip-color-link);
}
header > .container nav ul,
header > .container-full nav ul {
  display: flex;
  padding: 0;
}
header > .container nav ul > li,
header > .container-full nav ul > li {
  display: block;
}

.horizontal-tb {
  writing-mode: horizontal-tb;
}

.sideways-lr {
  writing-mode: sideways-lr;
}

.sideways-rl {
  writing-mode: sideways-rl;
}

.vertical-lr {
  writing-mode: vertical-lr;
}

.vertical-rl {
  writing-mode: vertical-rl;
}

.sideways-lr .container, .sideways-rl .container, .vertical-lr .container, .vertical-rl .container {
  max-width: unset;
  max-height: var(--drip-container-size);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-block-end: var(--drip-spacing);
}

label {
  display: block;
}

button,
input,
meter,
progress,
select,
textarea {
  display: block;
  width: 100%;
}

input:not([type=file]),
select,
textarea {
  background-color: var(--drip-color-input);
  border: 2px solid var(--drip-color-border);
  border-radius: var(--drip-padding);
  color: var(--drip-color-text);
  padding: var(--drip-padding);
}

button, input[type=button], input[type=reset], input[type=submit], input[type=file]::file-selector-button {
  background: var(--drip-color-background);
  border: 2px solid var(--drip-color-link);
  border-radius: var(--drip-padding);
  color: var(--drip-color-link);
  cursor: pointer;
  padding: var(--drip-padding);
}
@media (prefers-reduced-motion: no-preference) {
  button, input[type=button], input[type=reset], input[type=submit], input[type=file]::file-selector-button {
    transition: background-color var(--drip-animation-speed) ease, border-color var(--drip-animation-speed) ease, color var(--drip-animation-speed) ease;
  }
  button:hover, input[type=button]:hover, input[type=reset]:hover, input[type=submit]:hover, input[type=file]::file-selector-button:hover {
    color: var(--drip-color-background);
    background: var(--drip-color-link);
    border-color: var(--drip-color-link);
  }
}

input[type=checkbox],
input[type=radio] {
  display: inline;
  width: revert;
}
input[type=checkbox] + label,
input[type=radio] + label {
  display: inline;
}

input[type=search] {
  background-image: var(--drip-icon-search);
  background-position: center left var(--drip-padding);
  background-repeat: no-repeat;
  background-size: var(--drip-icon-size) auto;
  padding-inline-start: calc(var(--drip-padding) * 2 + var(--drip-icon-size));
}

textarea {
  min-height: 3em;
  max-width: 100%;
  min-width: 100%;
}

.sideways-lr .dropdown > [popover],
.sideways-rl .dropdown > [popover],
.vertical-lr .dropdown > [popover],
.vertical-rl .dropdown > [popover] {
  height: 100%;
  width: fit-content;
}
.sideways-lr input[type=search],
.sideways-rl input[type=search],
.vertical-lr input[type=search],
.vertical-rl input[type=search] {
  background-position: center top var(--drip-padding);
}
.sideways-lr button,
.sideways-lr input,
.sideways-lr meter,
.sideways-lr progress,
.sideways-lr select,
.sideways-lr textarea,
.sideways-rl button,
.sideways-rl input,
.sideways-rl meter,
.sideways-rl progress,
.sideways-rl select,
.sideways-rl textarea,
.vertical-lr button,
.vertical-lr input,
.vertical-lr meter,
.vertical-lr progress,
.vertical-lr select,
.vertical-lr textarea,
.vertical-rl button,
.vertical-rl input,
.vertical-rl meter,
.vertical-rl progress,
.vertical-rl select,
.vertical-rl textarea {
  width: revert;
  height: 100%;
}
.sideways-lr input[type=checkbox],
.sideways-lr input[type=radio],
.sideways-rl input[type=checkbox],
.sideways-rl input[type=radio],
.vertical-lr input[type=checkbox],
.vertical-lr input[type=radio],
.vertical-rl input[type=checkbox],
.vertical-rl input[type=radio] {
  height: revert;
}
.sideways-lr textarea,
.sideways-rl textarea,
.vertical-lr textarea,
.vertical-rl textarea {
  min-height: 100%;
  max-height: 100%;
  min-width: 3em;
  max-width: revert;
}

html[dir=rtl] input[type=search] {
  background-position: center right var(--drip-padding);
}
html[dir=rtl] .sideways-lr input[type=search],
html[dir=rtl] .sideways-rl input[type=search],
html[dir=rtl] .vertical-lr input[type=search],
html[dir=rtl] .vertical-rl input[type=search], html[dir=rtl].sideways-lr input[type=search], html[dir=rtl].sideways-rl input[type=search], html[dir=rtl].vertical-lr input[type=search], html[dir=rtl].vertical-rl input[type=search] {
  background-position: center bottom var(--drip-padding);
}
